input {
    padding: .1rem .5rem;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

.searchform{
display: flex;
justify-content: center;
flex-direction: row;
/* border: 2px solid black; */
height: 40px
}

/* .frame{
    border: 10px solid black;
} */

.button{
    margin-left: 5px;
    
    padding: .1rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.1);
    color: gray;
}

.button:hover{
    background-color: rgb(120, 120, 120);
    color: white; 
}
