/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    /* width: 100%; */
    /* height: 100vh; */
    position: relative;
    color: white;
}

.majorList{
    font-size: 10px;
}

p {
    font-size: 2.6rem;
}

h1 {
    font-size: 3rem;
}

.body:before {
    content: '';
    background-image: url(https://live.staticflickr.com/8358/28103482744_4995674236_b.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.app {
    text-align: center;
    padding: 1rem;
}

input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.cart {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


/* background: url(https://live.staticflickr.com/8358/28103482744_4995674236_b.jpg) no-repeat center center/cover; */


/* .search {
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 50px;
} */

.description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}

.container {
    max-width: 700px;
    height: 700px;
    margin: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    width: 100%;
    margin: 1rem;
}

.description {
    position: relative;
    right: -90%;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}